[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
cloudflare = "*"
dirsync = "*"
ipfshttpclient = {ref = "0.7.0a1", git = "https://github.com/ipfs-shipyard/py-ipfs-http-client"}
tinydb = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
